.dark-gray-background{
    -fx-background-color: #46474A;
}

.gray-background{
    -fx-background-color: #636566;
}

.transparent-background{
    -fx-background-color: rgba(0,0,0,0);
}

.radius{
    -fx-background-radius: 100px;
}

.light-gray-background{
    -fx-background-color: #DADADA ;
}

.incoming-bubble{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 20px;
}
.special-gray{
    -fx-background-color: #e7e7e7;
}
.list-cell-background{
    -fx-control-inner-background: #636566;
}
.list-view .scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-background-color: transparent;
}

